.gs-game-card {
    background-color: #3F213A;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,.25);
}

.gs-game-card img {
    width: 100%;
    height: 200px;
}

.gs-game-cover {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.gs-game-card-content {
    padding: 20px 30px;
    text-align: center;
    color: #FFF3FD;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100% - 200px);
}

.gs-game-heading {
    font-size: 24px;
    margin-bottom: 10px;
}

.gs-game-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 14px;
}

.gs-game-description {
    font-size: 18px;
    margin-bottom: 16px;
    text-align: left;
}

.gs-game-card-bottom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.gs-game-view-details {
    display: block;
    padding: 0;
}

.gs-game-view-details.btn a {
    text-decoration: none;
    color: inherit;
    height: 32px;
    padding: 8px;
    display: block;
}

/* Styling for loading games */
.loading .gs-game-card-content {
    height: 330px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loading .gs-game-heading {
    height: 30px;
    width: 250px;
    background-color: #572f50;
    border-radius: 10px;
}

.loading .gs-game-description {
    height: 200px;
    width: 100%;
    background-color: #572f50;
    border-radius: 10px;
}

/* Styling for star ratings */
.gs-game-rating-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.gs-game-rating {
    position: relative;
    height: 30px;
    max-width: fit-content;
}

.gs-game-rating-stars {
    display: flex;
    z-index: 2;
    color: #fff;
}

.gs-game-rating-stars svg {
    min-width: 27px;
    min-height: 27px;
}

.gs-game-rating-stars.stars-filled {
    z-index: 3;
    display: flex;
    overflow-x: hidden;
    position: absolute;
    top: 0;
}

.gs-game-rating-text {
    font-size: 14px;
}
